* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.bg-white {
    background-color: white !important;
}

.navbar-toggler {
    border: 0;
}

nav ul li {
    display: inline-block;
}

.navbar-brand {
    font-size: 2.5rem;
    transition: all 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(40, 40, 40);
}

.navbar-brand:hover {
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nav-shopping {
    display: block;
    padding: .5rem;
    padding-left: 0;
    font-size: 2rem;
    color: rgb(40, 40, 40);
    transition: all 1s;
}

.nav-shopping:hover {
    color: rgb(40, 40, 40);
    transform: scale(1.);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nav-link {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: .5rem;
    border-radius: .1rem;
    transition: all 1s;
}

@media only screen and (min-width: 992px) {
    .nav-link:hover {
        background-color: #0CC4F0;
    }
}

.nav-point {
    position: absolute;
    top: -120px;
}

@media only screen and (min-width: 992px) {
    .nav-point {
        position: absolute;
        top: -155px;
    }
}

.carousel-image {
    background-position: center bottom;
    background-size: cover;
    height: 95vh;
}

.js-carousel-pause-col {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-caption {
    background-color: #0CC4F0 !important;
    position: absolute;
    color: #fff;
}

.carousel-indicators li {
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    transition: all 1s;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: #fff !important;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    color: #fff !important;
}

.font-awesome {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    transition: all 1s;
}

.font-awesome:hover {
    color: rgb(40, 40, 40);
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.jumbotron {
    background-image: cover;
    background-position: left;
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        background-image: cover;
        background-position: center;
    }
}

.card {
    border: 0;
}

.card-body {
    background-color: white !important;
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #F04723 !important;
    border: 0;
}

.btn-primary:hover {
    background-color: #0CC4F0 !important;
    font-weight: 700;
}

.custom-select {
    padding-left: .5rem;
    border-radius: 0;
    text-align: center;
}

footer {
    background-color: white !important;
}

footer nav ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer nav li {
    font-size: 2rem;
    color: rgb(40, 40, 40);
    transition: all 1s;
}

footer nav li:hover {
    color: rgb(40, 40, 40);
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* accordion */

.btn-link {
    font-size: 1.2rem;
    font-weight: 300;
    color: #000!important;
    border: 2px;
    border-color: #000!important;
}

    .btn-link:hover {
        color: #0CC4F0!important;
        text-decoration: none;
        font-weight: 500;
    }

.card-header {
    background-color: #fff!important;  
    padding-left: 0;
}

/* animations  */
@keyframes tropical {
    0% {
        color: #F04723;
    }

    25% {
        color: #0CC4F0;
    }

    50% {
        color: #F08B30;
    }

    75% {
        color: #3CF049;
    }

    100% {
        color: #F01868;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #0CC4F0 !important;
    background-color: #0CC4F0 !important;
}

.alert {
    position: fixed;
    height: 5vh;
    top: 95vh;
    z-index: 1;
    width: 100%;
    background-color: #05386b !important;
    color: #F8F8F8 !important;
    border: 0;
    border-radius: 0;
}

.modal-dialog {
    border-radius: 0;
}

/* 
tropical color palette
orange: F08B30
green: 3CF049
coral: F04723
blue: 0CC4F0
pink: F01868
*/