body {
    background-color: #F8F8F8!important;
    line-height: 1.25;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar {
    background-color: #05386b!important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Work Sans', sans-serif;
}

.text-white {
    color: #F8F8F8!important;
}

.text-dark {
    color: #05386b!important;
}

a.text-dark, a.text-dark:focus, a.text-dark:hover {
    color: #05386b!important;
}

.alert {
    position: fixed;
    height: 5vh;
	top: 95vh;
    z-index: 1;
    width: 100%;
    background-color: #05386b!important;
    color: #F8F8F8!important;
    border: 0;
    border-radius: 0;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    background-image: none!important;
    width: 100%;
    height: 100%;
}

nav ul li {
    display: inline-block;
    font-size: 2.25rem;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    color: #F8F8F8!important;
}

.nav-link {
    color: #F8F8F8!important;
}

a:hover {
    text-decoration: underline;
    color: #5CDB95!important;
}

.nav-point {
    position: absolute;
    top: -120px;
}

@media only screen and (min-width: 992px) {
    .nav-point {
        position: absolute;
        top: -155px;
    }
}

.carousel-image {
    background-position: center bottom;
    background-size: cover;
    height: 95vh;
}

.js-carousel-pause-col {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-caption h2 {
    font-size: 2.5rem;
}

main {
    background-image: cover;
    background-position: center top;;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    background-image: cover;
    background-position: left;
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        background-image: cover;
        background-position: center;
    }
}

.bg-white {
    background-color: #F8F8F8!important;
}

.card {
    background-color: #F8F8F8!important;
    border: 0;
}

.card-body {
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn {
    font-size: 1.25rem;
    border: 2px solid transparent;
    font-weight: 600;
    padding: .75rem;
}
    .btn-primary {
        background-color: #05386b!important;
        border-color: #05386b!important;
        border: 1px;
        border-radius: 0;
        color: #F8F8F8!important;
    }

        .btn-primary:hover {
            background-color: #5CDB95!important;
            color: #05386b!important;
        }

    .btn-secondary {
        border: 2px;
        border-radius: 0;
    }

label {
    color: #05386b!important;
}

input {
    background-color: #F8F8F8!important;
}

small {
    color: #05386b!important;
}

footer {
    background-color: #05386b!important;
}

footer nav ul {
    font-size: 3rem;
    list-style: none;
    color: #F8F8F8;
    padding-inline-start: 0px;
    
}

.modal-dialog {
    border-radius: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #F8F8F8;
    border-color: #05386b!important;
    background-color: #05386b!important;
}

/* 
blue: 05386b
dark green: 379683
main green: 5cdb95
light green: 8ee4af
white: F8F8F8