body {
    background-color: #EBE0DD!important;
}
.bg-light {
    background-color: #EDB89F!important;
}

section.jumobotron {
	background-size: cover;
    background-position: center;
}

.jumbotron .bg-transparent {
    background-color: rgba(235, 224, 221, .4)!important;
}

.text-muted {
    color: #A46549!important;
}

.btn-light {
    background-color: #A46549!important;
    color: #EBE0DD!important;
}

.display-3, .lead, .nav-item {
    color: #533A2A!important;
}

table {
    color: #533A2A!important;
}