* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,.7);
}

p {
    color: rgba(0,0,0,.6);
}

a {
    color: rgba(0,0,0,.7);
}

a:hover {
    color: rgba(0,0,0,.7); 
}

.display-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;'
}

.text-muted {
    color: rgba(0,0,0,.7)!important;
    font-weight: 300;'
}

.bg-white {
    background-color: white !important;
}

.bg-primary {
    background-color: #0CC4F0!important;
}

.navbar-toggler {
    border: 0;
}

nav ul li {
    display: inline-block;
}

.navbar-brand {
    font-size: 2.5rem;
    transition: all 1s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.navbar-brand:hover {
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nav-shopping {
    display: block;
    padding: .5rem;
    padding-left: 0;
    margin-top: .5rem;
    font-size: 1.1rem;
    color: rgba(0,0,0,.7);
    transition: all 1s;
}

.nav-shopping:hover {
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nav-link {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: .5rem .75rem;
    margin-top: .5rem;
    transition: all 1s;
}

@media only screen and (min-width: 992px) {
    .nav-link:hover {
        background-color: #3CF049;
    }
}

/* carousel */

.carousel-image {
    background-size: cover;
    background-position: 30% 50%;
    height: 85vh;
}

.carousel-image-7050 {
    background-size: cover;
    background-position: 70% 50%;
}

.js-carousel-pause-col {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-caption {
    background-color: #0CC4F0!important;
    position: absolute;
    color: #fff;
}

.carousel-indicators {
    bottom: 15px;
}

.carousel-indicators li {
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    transition: all 1s;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: #fff !important;
}

.carousel-caption h2 {
    font-size: 2.5rem;
    color: #fff !important;
}

.carousel-control-next, .carousel-control-prev {
    color: #0CC4F0!important;
    opacity: 1;
}

/* cards */
.card {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 0px;
}

.card-hover {
    transition: all 1s;
}

.card-hover:hover {
    transform: scale(1.03);
}

.card-body {
    background-color: white !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-header {
    background-color: #fff!important;  
    padding-left: 0;
}

.card-columns {
    column-gap: .75rem;
}

/* buttons  */
.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #F04723 !important;
    border: 0;
}

.btn-primary:hover {
    background-color: #0CC4F0 !important;
    font-weight: 700;
}

.btn-primary:focus {
    border: 0px;
    border-color: #F04723!important;
}

/* form and modal stuff */
.modal-content {
    border-radius: 0px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #0CC4F0!important;
    background-color: #0CC4F0!important;
}

.form-control {
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,.5);
}

.form-control:focus {
    border: 1px solid #0CC4F0;
    box-shadow: 0 0 0 0rem;
}

.custom-select {
    padding-left: .75rem;
    border-color: rgba(0,0,0,.5);
    border-right: 0px;
    border-left: 0px;
    border-radius: 0;
    text-align: center;
}
/* accordion */

.btn-link {
    font-size: 1.2rem;
    font-weight: 300;
    color: #000!important;
    border: 1px;
    border-color: rgba(0,0,0,.5)!important;
}

    .btn-link:hover {
        background-color: #0CC4F0!important;
        text-decoration: none;
        font-weight: 500;
    }

/* footer stuff */
footer {
    background-color: white!important;
    border-top: 1px solid rgba(0,0,0,.4);
}

footer nav ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer p {
    font-size: .9rem;
    margin-bottom: .5rem;
}

/* animations  */
.tropical {
    font-size: 2rem;
    transition: all 1s;
}

.tropical:hover {
    transform: scale(1.1);
    animation-name: tropical;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes tropical {
    0% {
        color: #F04723;
    }

    25% {
        color: #0CC4F0;
    }

    50% {
        color: #F08B30;
    }

    75% {
        color: #3CF049;
    }

    100% {
        color: #F01868;
    }
}

/* .alert {
    position: fixed;
    height: 5vh;
    top: 95vh;
    z-index: 1;
    width: 100%;
    background-color: #05386b !important;
    color: #F8F8F8 !important;
    border: 0;
    border-radius: 0;
} */

/* 
tropical color palette
orange: F08B30
green: 3CF049
coral: F04723
blue: 0CC4F0
pink: F01868
*/